<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="/./dist/img/default-150x150.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Test Ime</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar text-sm flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Devices
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 3</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 4</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 5</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device 6</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <form id="form_graph" method="GET">
                    <li class="nav-header"><i class="nav-icon fas fa-sliders-h mr-2"></i>PARAMETERS</li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div class="custom-control custom-checkbox sidebar-checkbox" style="margin-left: 0.55rem">
                                <input class="custom-control-input" name="variables" value="parameter1" type="checkbox" id="parameter1" checked="">
                                <label style="font-weight: normal" for="parameter1" class="custom-control-label">Parameter 1</label>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div class="custom-control custom-checkbox sidebar-checkbox" style="margin-left: 0.55rem">
                                <input class="custom-control-input" name="variables" value="parameter2" type="checkbox" id="parameter2">
                                <label style="font-weight: normal" for="parameter2" class="custom-control-label">Parameter 2</label>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div class="custom-control custom-checkbox sidebar-checkbox" style="margin-left: 0.55rem">
                                <input class="custom-control-input" name="variables" value="parameter3" type="checkbox" id="parameter3" >
                                <label style="font-weight: normal" for="parameter3" class="custom-control-label">Parameter 3</label>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <div class="custom-control custom-checkbox sidebar-checkbox" style="margin-left: 0.55rem">
                                <input class="custom-control-input" name="variables" value="parameter4" type="checkbox" id="parameter4" >
                                <label style="font-weight: normal" for="parameter4" class="custom-control-label">Parameter 4</label>
                            </div>
                        </a>
                    </li>
                </form>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>